{% extends 'base.html' %}
{% block title %}
Редактирование Товара
{% endblock %}
{% block body %}
<h1>Редактирование Товара</h1>
    <form method="post">
        <input type="text" name="name_product" id="name_product" value="{{product.name_product}}" placeholder="Название продукта"><br>
        <input type="text" name="type_product" id="type_product" value="{{product.type_product}}" placeholder="Тип продукта"><br>
        <input type="number" name="amount_product" id="amount_product" value="{{product.amount_product}}" placeholder="К-во продуктов"><br>
        <input type="number" name="id_shop" id="id_shop" value="{{product.id_shop}}" placeholder="ID магазина"><br>
        <input type="number" name="price_product" id="price_product" value="{{product.price_product}}" placeholder="Цена за продукт"><br>
        <input type="submit" name="btn btn-success" value="Гатовенько">
    </form>
{% endblock %}