{% extends 'base.html' %}
{% block title %}
Товары
{% endblock %}
{% block body %}
    <form action="/product-choice" method="POST" id="data">
        ID:
        <select name="id_product">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.id_product}}  label = {{el.id_product}}>
                {% endfor %}
        </select>

        <br>Название:
        <select name="name_product">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.name_product}}  label = {{el.name_product}}>
                {% endfor %}
        </select>

        <br>Вид:
        <select name="type_product">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.type_product}}  label = {{el.type_product}}>
                {% endfor %}
        </select>

        <br>Количество:
        <select name="amount_product">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.amount_product}}  label = {{el.amount_product}}>
                {% endfor %}
        </select>

        <br>ID Магазина:
        <select name="id_shop">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.id_shop}}  label = {{el.id_shop}}>
                {% endfor %}
        </select>

        <br>Цена:
        <select name="price_product">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.price_product}}  label = {{el.price_product}}>
                {% endfor %}
        </select><br>
        <input type="submit" name="btn btn-success" value="Show"><br>
    </form>





    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>ID-продукта</th>
            <th>Название продукта</th>
            <th>Вид продукта</th>
            <th>Количество единиц</th>
            <th>ID-Магазина</th>
            <th>Цена Продукта</th>
            <th></th>
            <th></th>
        </tr>
        {% for el in table %}
        <tr>
            <td>{{ el.id_product }}</td>
            <td>{{ el.name_product }}</td>
            <td>{{ el.type_product }}</td>
            <td>{{ el.amount_product }}</td>
            <td>{{ el.id_shop }}</td>
            <td>{{ el.price_product }}</td>
            <td>
                <a href="/products?id={{el.id_product}}&action=del" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="/products/{{el.id_product}}/edit" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/products/create" class="btn btn-success">Add</a>
{% endblock %}