<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Редактирование Магазина</h1>
    <form method="post">
        <input type="text" name="type_shop" id="type_shop" value="{{shop.type_shop}}" placeholder="Введите тип"><br>
        <input type="number" name="shops_area" id="shops_area" value="{{shop.shops_area}}" placeholder="Размер тк"><br>
        <input type="number" name="hall_count" id="hall_count" value="{{shop.hall_count}}" placeholder="К-во залов"><br>
        <input type="number" name="stall_count" id="stall_count" value="{{shop.stall_count}}" placeholder="К-во прилавков"><br>
        <input type="submit" name="btn btn-success" value="Гатовенько">
    </form>
</div>
</body>
</html>