{% extends 'base.html' %}
{% block title %}
Добавление Магазина
{% endblock %}
{% block body %}
        <h1>Добавление Магазина</h1>
        <form action="/shops/create" method="post">
            <input type="text" name="type_shop" id="type_shop" placeholder="Введите тип"><br>
            <input type="number" name="shops_area" id="shops_area" placeholder="Размер тк"><br>
            <input type="number" name="hall_count" id="hall_count" placeholder="К-во залов"><br>
            <input type="number" name="stall_count" id="stall_count" placeholder="К-во прилавков"><br>
            <input type="number" name="waste" id="waste" placeholder="Расходы"><br>
            <input type="submit" name="btn btn-success" value="Гатовенько">
        </form>
{% endblock %}