{% extends 'base.html' %}
{% block title %}
Магазины
{% endblock %}
{% block body %}


<form action="/shop-choice" method="POST" id="data">
        ID:
            <select name="id_shop" class="form-select form-select-sm">
                <option value="any" label = "Anything">
                {% for el in table %}
                <option value={{el.id_shop}}  label = {{el.id_shop}}>
                {% endfor %}
            </select>

        <br>Тип Магазина:
        <select name="type_shop" class="form-select form-select-sm">
            <option value="any" label = "Anything">
            {% for el in table %}
            <option value={{el.type_shop}}  label = {{el.type_shop}}>
            {% endfor %}
        </select>

        <br>Площадь:
        <select name="shops_area" class="form-select form-select-sm">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.shops_area}}  label = {{el.shops_area}}>
                {% endfor %}
        </select>

        <br>Количество залов:
        <select name="hall_count" class="form-select form-select-sm">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.hall_count}}  label = {{el.hall_count}}>
                {% endfor %}
        </select>

        <br>Количество прилавков:
        <select name="stall_count" class="form-select form-select-sm">
            <option value="any" label = "Anything">
                {% for el in table %}
            <option value={{el.stall_count}}  label = {{el.stall_count}}>
                {% endfor %}
        </select><br>
    <input type="submit" name="btn btn-success" value="Show"><br>
</form>





    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>ID-магазина</th>
            <th>Тип магазина</th>
            <th>Площадь магазина</th>
            <th>Количество залов</th>
            <th>Количество прилавков</th>
            <th></th>
            <th></th>
        </tr>
        {% for el in table %}
        <tr>
            <td>{{ el.id_shop }}</td>
            <td>{{ el.type_shop }}</td>
            <td>{{ el.shops_area }}</td>
            <td>{{ el.hall_count }}</td>
            <td>{{ el.stall_count }}</td>
            <td>
                <a href="/shops?id={{el.id_shop}}&action=del" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a href="/shops/{{el.id_shop}}/edit" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/shops/create" class="btn btn-success">Add</a>
{% endblock %}