{% extends 'base.html' %}
{% block title %}
Редактирование Магазина
{% endblock %}
{% block body %}
    <h1>Редактирование Магазина</h1>
    <form method="post">
        <input type="text" name="type_shop" id="type_shop" value="{{shop.type_shop}}" placeholder="Введите тип"><br>
        <input type="number" name="shops_area" id="shops_area" value="{{shop.shops_area}}" placeholder="Размер тк"><br>
        <input type="number" name="hall_count" id="hall_count" value="{{shop.hall_count}}" placeholder="К-во залов"><br>
        <input type="number" name="stall_count" id="stall_count" value="{{shop.stall_count}}" placeholder="К-во прилавков"><br>
        <input type="number" name="waste" id="waste" value="{{shop.waste}}" placeholder="Расходы"><br>
        <input type="submit" name="btn btn-success" value="Гатовенько">
    </form>
{% endblock %}