<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Добавление Магазина</h1>
    <form action="/shops/create" method="post">
        <input type="text" name="type_shop" id="type_shop" placeholder="Введите тип"><br>
        <input type="number" name="shops_area" id="shops_area" placeholder="Размер тк"><br>
        <input type="number" name="hall_count" id="hall_count" placeholder="К-во залов"><br>
        <input type="number" name="stall_count" id="stall_count" placeholder="К-во прилавков"><br>
        <input type="submit" name="btn btn-success" value="Гатовенько">
    </form>
</body>
</html>